<nav class="transparent">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">
            {% include whitelogo.svg %}
        </a>

        <a href="#" data-target="sideNav" class="sidenav-trigger"><i class="fas fa-2x fa-bars"></i></a>

        <ul class="left hide-on-med-and-down">
            {% include nav/nav.html %}
        </ul>

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#precos" title="Tabela de Preços" class="btn-flat waves-effect waves-light modal-trigger white-text" style="border: solid 1px #fff;">Preços</a>
            </li>

            <li>
                <a href="#contactos" class="btn waves-effect waves-light modal-trigger">Contacte-nos</a>
            </li>
        </ul>
    </div>
</nav>