$primary-color: #000;
$secondary-color: #444;

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

i {
    line-height: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.vertical-img {
    vertical-align: middle;
}

.inline-list {
    list-style-type: none;
    display: inline-flex;
}

.center, .center-align {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.bolder {
    font-weight: bolder;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

@import
    "media-queries",
    "grid",
    "animate-bottom",
    "nav",
    "shadows",
    "buttons",
    "pagination",
    "forms/forms"
;