<nav id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <i class="fas fa-times"></i>
    </a>

    <div class="overlay-content">
        {% for item in site.data.nav %}
            <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
        {% endfor %}
    </div>
</nav>

<script>
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>