// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: grey !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: red !default;
$input-success-color: blue !default;
$input-focus-color: #444 !default;
$input-font-size: 16px !default;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: #949494 !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$input-icon-size: 2rem;
$placeholder-text-color: lighten($input-border-color, 20%) !default;

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';