<div id="Servicos" class="tabcontent" style="min-height: 80vh;">
	<section class="container">
		<h4 class="bolder center-align">
			<span class="fa-stack fa-4x">
				<i class="fas fa-tasks fa-stack-1x"></i>
				<i class="far fa-circle fa-stack-2x"></i>
			</span>
		  </h4>
		  
		  <div class="row">
			{% for item in site.servicos %}
				<div class="col s12 l4 center">
					<img src="{{ item.main-img }}/-/resize/200x200/" alt="{{ item.title }}" class="responsive-img" width="200">
					<p class="bolder">{{ item.title }}</p>
					<a href="{{ item.url }}" class="btn">Veja Mais</a>
					<a href="maito:{{ site.email }}" class="btn-floating hide-on-small-only"><i class="fas fa-envelope-open-text"></i></a>
					<a href="https://wa.me/258846101512" class="btn-floating hide-on-med-and-up"><i class="fab fa-whatsapp"></i></a>
				</div>
			{% endfor %}
		  </div>
	</section>
</div>