<div id="Servicos" class="tabcontent" style="min-height: 80vh;">
	<section class="container">
		<h4 class="bolder center-align">
			<span class="fa-stack fa-4x">
				<i class="fas fa-tasks fa-stack-1x"></i>
				<i class="far fa-circle fa-stack-2x"></i>
			</span>
		  </h4>
		  
		  <div class="row slick-servicos">
			{% for item in site.servicos %}
				<div>
					<div class="card hoverable">
						<div class="card-image">
							<img src="{{ item.main-image }}" alt="{{ item.title }}">
						</div>
						<div class="card-action">
							<a href="{{ item.url }}" title="{{ item.title }}" class="btn waves-effect waves-light">Veja Mais</a>
							<a href="mailto:{{ site.email }}" class="btn-flat waves-effect waves-primary hide-on-small-only" title="Email">Contacte-nos <i class="fas fa-envelope-open-text"></i></a>
							<a href="https://wa.me/258846101512" class="btn-flat waves-effect waves-primary hide-on-med-and-up" title="WhatsApp">Contacte-nos <i class="fab fa-whatsapp"></i></a>
						</div>
					</div>
				</div>
			{% endfor %}
		  </div>
	</section>
</div>