<div id="Sobre" class="tabcontent" style="min-height: 90vh;">
    <section class="container">
        <h4 class="center-align">
            <span class="fa-stack fa-4x">
                <i class="fas fa-user fa-stack-1x"></i>
                <i class="far fa-circle fa-stack-2x"></i>
            </span>
        </h4>

        {% for item in site.sobre limit: 1 %}
            <div class="justify container light">
                {{ item.content }}
            </div>
        {% endfor %}

        <section class="row">
            {% for item in site.sobre offset: 1 limit: 3 %}
                <article class="col s12 l4">
                    <div class="center-align">
                        <span class="fa-stack fa-1x">
                            <i class="fas fa-{{ item.icon }} fa-stack-1x"></i>
                            <i class="far fa-circle fa-stack-2x"></i>
                        </span>
                    </div>
                    <p class="bolder center-align">{{ item.title }}</p>
                    
                    <div class="justify light">
                        {{ item.content }}
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
</div>