<style>
    {% capture include_to_scssify %}
        {% include header/page-header.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
</style>

<header class="page-header center-align">
    {% include nav/navbar.html %}
    <div class="header-content">
        <div class="divider white"></div>
            <h1 class="bolder">{{ site.title }}</h1>

            <h4>{{ site.description }}</h4>
        <div class="divider white"></div>
        {% include social.html %}
    </div>
</header>
