---
layout: default
---

{% include masonry.html %}

<section class="section" id="galeria">
    <div class="container">
        <div class="masonry">
            {% for item in site.galeria %}
                {% if page.title == "Galeria"%}
                <img
                    data-aos="zoom-in"
                    data-aos-duration="3000" 
                    data-src="{{ item.photo }}?nf_resize=smartcrop&w=260"
                    alt="{{ item.title }}"
                    data-srcset="{{ item.photo }}?nf_resize=smartcrop&w=320 320w,
                    {{ item.photo }}?nf_resize=smartcrop&w=640 640w,
                    {{ item.photo }}?nf_resize=smartcrop&w=1024 1024w,
                    {{ item.photo }}?nf_resize=smartcrop&w=1920 1920w"
                    sizes="(min-widtw: 36em) 33.3vw, 100vw"
                    class="item lazy materialboxed"
                    data-caption="{{ item.title }}">
                    
                    {% elsif page.title != "Galeria" %}
                        {% if item.category == page.title %}
                        <div class="gallery-photo">
                            <img
                                data-aos="zoom-in"
                                data-aos-duration="3000" 
                                data-src="{{ item.photo }}?nf_resize=smartcrop&w=260"
                                alt="{{ item.title }}"
                                data-srcset="{{ item.photo }}?nf_resize=smartcrop&w=320 320w,
                                {{ item.photo }}?nf_resize=smartcrop&w=640 640w,
                                {{ item.photo }}?nf_resize=smartcrop&w=1024 1024w,
                                {{ item.photo }}?nf_resize=smartcrop&w=1920 1920w"
                                sizes="(min-widtw: 36em) 33.3vw, 100vw"
                                class="item lazy materialboxed"
                                data-caption="{{ item.title }}">
                        </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>