---
layout: default
---

<section class="section" id="galeria">
    <div class="container">
        <div id="masonry-grid" class="row">
            {% for item in site.galeria %}
                {% if page.title == "Galeria"%}
                    <div class="col s12 m6 l4">
                        <img 
                            data-src="{{ item.photo }}?nf_resize=fit&w=260"
                            alt="{{ item.title }}"
                            data-srcset="{{ item.photo }}?nf_resize=fit&w=320 320w,
                            {{ item.photo }}?nf_resize=fit&w=640 640w,
                            {{ item.photo }}?nf_resize=fit&w=1024 1024w
                            {{ item.photo }}?nf_resize=fit&w=1920 1920w"
                            class="materialboxed"
                            data-caption="{{ item.title }}">
                    </div>

                    {% elsif page.title != "Galeria" %}
                        {% if item.category == page.title %}
                            <div class="col s12 m6 l4">
                                <img 
                                    data-src="{{ item.photo }}?nf_resize=fit&w=260"
                                    alt="{{ item.title }}"
                                    data-srcset="{{ item.photo }}?nf_resize=fit&w=320 320w,
                                    {{ item.photo }}?nf_resize=fit&w=640 640w,
                                    {{ item.photo }}?nf_resize=fit&w=1024 1024w
                                    {{ item.photo }}?nf_resize=fit&w=1920 1920w"
                                    class="materialboxed"
                                    data-caption="{{ item.title }}">
                            </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>