<section id="servicos" class="section scrollspy center">
    <div class="container">
        <div class="row">
            {% for item in site.servicos %}
                <div class="col s12 l6">
                    <div class="card-panel hoverable" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url({{ item.main-image }});
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;">
                        <div class="divider"></div>
                        <br><br>

                        <h4>{{ item.title }}</h4>

                        <br><br>

                        <div class="divider"></div>
                        <br><br>

                        <a href="{{ item.url }}" class="btn-flat waves-effect waves-light white-text" style="border: solid 1px #fff">Veja Mais</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>